.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.carouselBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 0px 5px;
  cursor: pointer;
  z-index: 0.5;
}

.carouselBtnPrev {
  left: 10px;
}

.carouselBtnNext {
  right: 10px;
}

.screenshot {
  max-width: 100%;
  height: auto;
}
