.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure modal is above everything else */
}

.modal {
  background-color: #292929;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.modal button:not(.closeButton):not(.disabledButton) {
  background-color: var(--accent);
  color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:not(.closeButton):not(.disabledButton):hover {
  background-color: var(--background-lighter);
}

.modal h3 {
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 10px;  /* Adjusted for better positioning */
  right: 10px;  /* Adjusted for better positioning */
  background-color: transparent;
  border: none;
  font-size: 20px; /* Adjust the size as needed */
  cursor: pointer;
  color: var(--primary);
  padding: 0; /* Remove padding so it's just the icon */
  line-height: 1; /* Make sure the icon vertically aligns properly */
}

.closeButton:hover {
  color: var(--accent);
}

.modalButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.disabledButton {
  background-color: var(--background-lighter);
  color: var(--background);
  cursor: not-allowed;
}

.searchResult {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s;
}

.searchResult:hover {
  background-color: var(--background-lighter);
}

.gameScreenshot {
  max-width: 100px;
  margin-right: 10px;
  object-fit: cover;
}