
.input, .dropdown {
  color: var(--primary);
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: var(--background-lighter);
}

.dropdown {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path d="M1,5l7,7l7,-7Z" /></svg>'); /* Down arrow */
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  padding-right: 30px; /* Space for the arrow */
}

.dropdown:hover {
  background-color: var(--background-lighter);
}

@media (max-width: 768px) {
  .input, .dropdown {
    width: 100%;
    margin-bottom: 10px;
  }
}
