
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--primary);
  font-size: 16px;
}

.input, .select, .textarea {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--background-lighter);
  color: var(--primary);
  font-size: 16px;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

