.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0px; /* Top, left/right, bottom */
}

.navLeft {
  display: flex;
  gap: 1rem;
}

.navLink {
  margin-right: 1rem;
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--accent);
}

.navLink.currentPageLink {
  border-bottom: 3px solid var(--accent);
}

.navRight {
  display: flex;
  align-items: center;
}


.userName {
  margin-right: 10px;
  font-weight: bold;
  display: inline;  /* Added to ensure the userName is inline */
}

.navRight > *:not(:last-child) {
  margin-right: 10px;
}

.navMobileToggle {
  display: none;
}

.userContainer {
  display: flex;
  align-items: center;
}

.adminMenu {
  position: relative;
  cursor: pointer;
}

.adminDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background);
  border: 1px solid var(--accent);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.adminDropdown > * {
  padding: 5px 10px;
}

.adminDropdown > *:hover {
  background-color: var(--background-lighter);
  color: var(--accent);
}

.adminMenuIcon {
  margin-left: 8px;
  font-size: 0.8em;
}


/* If we are in mobile mode, hide the navLeft and navRight into the hamburger menu */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navLeft, .navRight {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start; /* Aligning left */
  }
  
  .navLeft.mobile, .navRight.mobile {
    display: flex;
    margin-bottom: 0.5rem;
  }

  .navMobileToggle {
    display: block;
    cursor: pointer;
    margin-right: auto;
  }

  .navMobileToggle > svg {
    width: 30px;
    height: 30px;
  }

  .userContainer {
    flex-direction: row;
  }
}
