.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.header {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid var(--primary);
  font-weight: bold;
}

.row {
  cursor: pointer;
}

.row:nth-child(odd) {
  background-color: var(--background-lighter);
}

.row:nth-child(even) {
  background-color: var(--background);
}

.row:hover {
  background-color: var(--accent);
}

.mobileLabel {
  display: none;  /* By default, the label is hidden */
}

@media (max-width: 768px) {
  .table {
    display: block;
  }

  .header {
    display: none;  /* hide headers on mobile */
  }

  .header th {
    position: absolute;
    left: -9999px; /* move the header off-screen */
  }

  .row {
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: var(--background-lighter);
  }

  .row td {
    display: block;
    margin-bottom: 5px;
  }

  .mobileLabel {
    display: inline;  /* Show the label on mobile */
    font-weight: bold;  /* Optional: make it bold for emphasis */
  }

  /* Unset alternating row colors on mobile */
  .row:nth-child(odd),
  .row:nth-child(even) {
    background-color: var(--background-lighter);
  }
}