:root {
  --background: #1d1d1b;
  --background-lighter: #31312e;
  --primary: #fffff0;
  --accent: #1488e6;
  --warning: #e6a214;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 20px 0;
  color: var(--primary);
}

body {
  background-color: var(--background);
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3 {
  color: var(--accent);
}

button {
  background-color: var(--accent);
  color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--background-lighter);
}

a {
  display: inline-block;
  color: var(--accent);
  text-decoration: none;
  padding-right: 0.2rem;
}

a:hover {
  text-decoration: underline;
  color: var(--primary);
}

td {
  padding: 0 0.2rem;
}