.keyDetails {
  display: grid;
  grid-template-columns: 400px auto; /* Two columns */
  gap: 20px;
}

/* Responsive adjustments for devices with a max width of 768px */
@media (max-width: 768px) {
  .keyDetails {
    grid-template-columns: 1fr; /* Change to single column layout */
  }
}

.claimingSection {
  margin-top: 10px;
}

.rawgInfo {
  grid-column: span 2;
  margin-top: 20px;
}

.gameDescription {
  margin-top: 20px;
}
